.form-control:focus {
  box-shadow: none;
}

.btn {
  border: none;
  border: none;
  padding: 8px 11px;
}

.btn:hover {
  background-color: #D69ADE;
}

.input-wrapper {
  position: relative;
  margin: 20px 0;
}

.floating-label {
  position: absolute;
  bottom: 0;
  left: 10px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.8s ease;
  font-size: 14px;
  color: #555;
}

.input-wrapper.active .floating-label {
  opacity: 1;
  transform: translateY(-20px);
}